:root {
/* TOPMENU
/*------ General */
    --background-menu: #0f2573;
    --color-menu: #f8f8f8;
    --color-menu-hover: #f8f8f8;
    --logo-size: 2em;
/*------ Unlogin */
    --background-unlogin: #fc5041;
    --color-border-unlogin: #fc5041;
    --color-unlogin: white;
    --background-unlogin-hover: white;
    --color-border-unlogin-hover: #fc5041;
    --color-unlogin-hover: #fc5041;
/*------ Login */
    --background-login: #e31122;
    --color-border-login: #e31122;
    --color-login: white;
    --background-login-hover: white;
    --color-border-login-hover: #e31122;
    --color-login-hover: #e31122;
/*------------ */
/* FOOTER */
/*------ Footer1 */
    --background-footer1: #202122;
    --color-footer1: rgb(255, 255, 255);
    --color-footer1-hover: #fc5041;
    --color-footer1-border: #202122;
/*------ Footer2 */
    --background-footer2:#202122;
    --color-footer2: #657785;
    --color-footer2-hover: #98a8b4;
    --color-footer2-border: rgba(255, 255, 255, 0.2);
/*------ Footer3 */
    --background-footer3: #363738;
    --color-footer3: #979797;
    --color-footer3-hover: #d1d1d1;
    --color-footer3-border: #979797;
/*------------ */
/* FOND */
    --background: white;
/* PAGE */
    --background-page: #ffffff;
/*------ Headers */
    --background-header: #f4f4f4;
    --color-header: black;
    --color-border-header: none;
/*-------------- Subheaders */
    --color-subheader: #828282;

/*------ Boutons */
    --background-button1: rgb(15, 37, 115, 0.8);
    --background-button1-hover:#0f2573;
    --background-button2: rgb(252, 80, 65, 0.8);
    --background-button2-hover: #fc5041;
} 